<!-- Body: Body -->
<div class="body d-flex py-lg-3 py-md-2">
  <div class="container-xxl">
    <div class="row align-items-center mb-4">
      <div class="col">
        <!-- Pretitle -->
        <h1 class="h4 mt-1">Changelog</h1>
      </div>
      <div class="col-auto">
        <a href="#" title="" class="btn btn-white border lift m-1"
          >Get Support</a
        >
        <a href="#" title="" class="btn btn-primary border lift m-1"
          >Our Portfolio</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center p-5">
            <img
              src="../assets/images/change-log.svg"
              class="img-fluid mx-size"
              alt="No Data"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="pt-2">
              <h6 class="d-inline-block">
                <span class="badge bg-warning font-weight-light">v1.1.5</span>
              </h6>
              <span class="text-muted">&nbsp;&nbsp;&nbsp;–-- Oct 08, 2022</span>

              <ul class="ms-5">
                <li>
                  Apexcharts 3.29.0 to Latest Update Apexcharts": "^3.35.5"
                </li>
                <li>
                  Datatables.net 1.10.22 to Latest Update datatables.net":
                  "^1.12.1"
                </li>
                <li>
                  New Pages Add.
                  <ul>
                    <li>
                      <a
                        href="../create-invoice.html"
                        title="Create Invoice"
                        class="text-secondary text-decoration-underline"
                        >Create Invoice (Account)</a
                      >
                    </li>
                    <li>
                      <a
                        href="../loan.html"
                        title="Create Invoice"
                        class="text-secondary text-decoration-underline"
                        >Loan page (Employees)</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="pt-2">
              <h6 class="d-inline-block">
                <span class="badge bg-warning font-weight-light">v1.1.4</span>
              </h6>
              <span class="text-muted">&nbsp;&nbsp;&nbsp;–-- Feb 10, 2022</span>

              <ul class="ms-5">
                <li>
                  Datatables.net 1.10.22 to Latest Update datatables.net":
                  "^1.10.25"
                </li>
                <li>
                  New Pages Add.
                  <ul>
                    <li>To Do List Page</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="pt-2">
              <h6 class="d-inline-block">
                <span class="badge bg-warning font-weight-light">v1.1.3</span>
              </h6>
              <span class="text-muted">&nbsp;&nbsp;&nbsp;–-- Oct 25, 2021</span>

              <ul class="ms-5">
                <li>Bootstrap 5.1.0 to Latest Update Bootstrap": "^5.1.3"</li>
                <li>
                  Apexcharts 3.26.0 to Latest Update Apexcharts": "^3.29.0"
                </li>
                <li>prismjs 1.23.0 to Latest Update Prismjs": "^1.25.0"</li>
                <li>
                  Layouts and pages (Add & edit).
                  <ul>
                    <li>Add scroll for main page layouts.</li>
                    <li>Add Scroll for side menu.</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="pt-2">
              <h6 class="d-inline-block">
                <span class="badge bg-warning font-weight-light">v1.1.2</span>
              </h6>
              <span class="text-muted">&nbsp;&nbsp;&nbsp;–-- Aug 20, 2021</span>
              <ul class="ms-5">
                <li>
                  Bootstrap": "^5.0.2 to Latest Update Bootstrap": "^5.1.0
                </li>
                <li>
                  Add & Edit More Pages.
                  <ul>
                    <li>Widgets Page Add</li>
                    <li>Calander Responsive issue Fixed</li>
                    <li>Some other Responsive issue Fixed</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="pt-2">
              <h6 class="d-inline-block">
                <span class="badge bg-warning font-weight-light">v1.1.0</span>
              </h6>
              <span class="text-muted"
                >&nbsp;&nbsp;&nbsp;–-- June 26, 2021</span
              >
              <ul class="ms-5">
                <li>
                  Bootstrap 5.0.0-beta3 to Latest Update Bootstrap": "^5.0.2
                </li>
                <li>
                  Add & Edit More Pages.
                  <ul>
                    <li>Attendance Employees Page</li>
                    <li>Attendance Page</li>
                    <li>Apex charts</li>
                    <li>Forms Example</li>
                    <li>Table Example</li>
                    <li>Reviews Page</li>
                    <li>Icon Page</li>
                    <li>Contact Page</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="pt-2">
              <h6 class="d-inline-block">
                <span class="badge bg-warning font-weight-light">v1.0.0</span>
              </h6>
              <span class="text-muted">&nbsp;&nbsp;&nbsp;–-- May 7, 2021</span>
              <ul class="ms-5">
                <li>
                  Initial release of my-Task! Lots more coming soon though 😁
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
