<!-- Body: Body -->
<div class="body d-flex py-lg-3 py-md-2">
  <div class="container-xxl">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-body text-center p-5">
          <img
            src="assets/images/no-data.svg"
            class="img-fluid mx-size"
            alt="No Data"
          />
          <div class="mt-4 mb-2">
            <span class="text-muted">No data to show</span>
          </div>
          <a type="button" href="" class="btn btn-white border lift m-1">
            Get Started
          </a>
          <a type="button" href="" class="btn btn-primary border lift m-1">
            Back to Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
